<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.rosses.cordova_iotbutton" version="1.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova_iotbutton</name>
    <description>Cordova IoT Button - Ogemray EG003</description>
    <js-module name="iotButtonPlugin" src="www/iotButtonPlugin.js">
        <clobbers target="iotButtonPlugin"/>
    </js-module>

	<!-- 	android platform -->
    <platform name="android">
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
		</config-file>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="iotButtonPlugin">
                <param name="android-package" value="com.rosses.cordova_iotbutton.iotButtonPlugin"/>
            </feature>
        </config-file>
		<source-file src="src/android/BytesIO.java" target-dir="src/com/rosses/smartconfig4/utils/" />
		<source-file src="src/android/ByteUtils.java" target-dir="src/com/rosses/smartconfig4/utils/" />
		<source-file src="src/android/iotButtonPlugin.java" target-dir="src/com/rosses/cordova_iotbutton/" />
        <source-file src="src/android/esptouch.jar" target-dir="libs/" />
        <source-file src="src/android/config_tcp.jar" target-dir="libs/" />
        <source-file src="src/android/smartconfig4.jar" target-dir="libs/" />
    </platform>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="iotButtonPlugin">
			 <param name="ios-package" value="iotButtonPlugin"/>
		   </feature>
	   </config-file>

	   <header-file src="src/ios/ConfigClass.h"/>
	   
	   <header-file src="src/ios/GCDAsyncSocket.h"/>
	   <source-file src="src/ios/GCDAsyncSocket.m"/>

	   <header-file src="src/ios/GCDAsyncUdpSocket.h"/>
	   <source-file src="src/ios/GCDAsyncUdpSocket.m"/>
	   
	   <header-file src="src/ios/RemoteSession.h"/>
	   <source-file src="src/ios/RemoteSession.m"/>

	   <header-file src="src/ios/DataTransform.h"/>
	   <source-file src="src/ios/DataTransform.m"/>

	   <header-file src="src/ios/DeviceModel.h"/>
	   <source-file src="src/ios/DeviceModel.m"/>

	   <header-file src="src/ios/HttpManager.h"/>
	   <source-file src="src/ios/HttpManager.m"/>

	   <header-file src="src/ios/iotButtonPlugin.h"/>
       <source-file src="src/ios/iotButtonPlugin.m"/>

       <header-file src="src/ios/smartConfig.h"/>
	   <source-file src="src/ios/libSmartConfig.a" framework="true" />

	   <framework src="CFNetwork.framework" />
	   <framework src="Foundation.framework" />
	   <framework src="Security.framework" />
	   <framework src="CoreGraphics.framework" />
	   <framework src="UIKit.framework" />

	</platform>
	
</plugin>