<?xml version='1.0' encoding='utf-8'?>

<plugin id="com.abastible.cordova" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

	<name>Abastible</name>
	<js-module name="Abastible" src="www/Abastible.js">
		<clobbers target="Abastible" />
	</js-module>
	
	<!-- Android -->
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
		<feature name="Abastible">
			<param name="android-package" value="com.abastible.cordova.Abastible" />
		</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/Abastible.java" target-dir="src/com/abastible/cordova/Abastible" />
		<source-file src="src/android/abastiblesdk.aar" target-dir="libs/" framework="true" />
		<framework src="src/android/abastiblesdk.gradle" custom="true" type="gradleReference" />
	</platform>
	
	<!-- iOS -->
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="Abastible">
				<param name="ios-package" value="Abastible" />
			</feature>
		</config-file>
		<source-file src="src/ios/Abastible.m" />
        <framework src="src/ios/AbastibleFramework.framework" custom="true"/>
        <resource-file src="src/ios/SQLITE_5kg.sqlite" />
		<resource-file src="src/ios/SQLITE_11kg.sqlite" />
		<resource-file src="src/ios/SQLITE_15kg.sqlite" />
		<resource-file src="src/ios/SQLITE_45kg.sqlite" />
        <framework src="src/ios/libsqlite3.tbd" custom="true" />
	</platform>
</plugin>
